.my_navbar{
    background-color: #F7F7F7;
    /* background-color: #F4F5F7; */
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100vw!important;
}

.my_navbar_links{
    height: calc(100vh);
    z-index: 30;
    position: fixed;
    left: 0;
    top: 69px;
    width: 80vw;
    font-weight: 500;
    background-color: #F7F7F7;
    transform: translateX(-100%);
    transition: .5s ease;
    padding: 20px;
}

.my_navbar_links-active{
    transform: translateX(0);
}

.my_navbar_links ul{ 
    flex-direction: column;
    height: calc(100%-90px);
}

.section_1{
    /* margin-top: 100px; */
    max-width: 1043px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width:414px) {
    .section_1{
        padding-left: 16px;
        padding-right: 16px;
    }

    .images::before {
        width: 80%;
        right: unset;
    }

    .form_section{
        background-size: 200%;
    }
}

@media screen and (min-width:576px) {
        .header_girl_new{
        display: none;
        z-index: -1;
    }
}

@media screen and (min-width:600px) {
    .hero::after {
        /* left: 10%; */
    }

    .hero__block{
        padding-left: 42px;
    }
    
    .form_section{
        background-size: 150%;
    }
}

@media screen and (min-width:630px) {
    .hero__block{
        padding-left: 57px;
    }

}


@media screen and (min-width:660px) {
    .hero__block{
        padding-left: 72px;
    }
    
    .hero::after {
        /* right: 0; */
        left: -20%;
    }
}

@media screen and (min-width:690px) {
    .hero__block{
        padding-left: 87px;
    }

    .hero::after {
        /* right: 0; */
        left: -10%;
    }
}


@media screen and (min-width:720px) {
    .hero__block{
        padding-left: 102px;
    }
}


@media screen and (min-width:768px) {
    .section_1{
        padding-left: 40px;
        padding-right: 40px;
    }

    .images__right_img2{
        z-index: 1;
        top: 0;
        left: -250px;
        width: 620px;
    }  
}



@media screen and (min-width:1024px) {
    .section_1{
        padding-left: 90px;
        padding-right: 90px;
    }
}



@media screen and (min-width:1440px) {
    .hero__block{
        padding-left: 70px;
    }

    .form_section{
        background-position: top center;
    }
}

@media screen and (min-width:1024px) {
    .info::before {
        width: 68%;
    }

    .info::after {
        display: inline;
    }
}

@media screen and (min-width:1440px) {
    .hero::after {
        left: 35%;
    }

    .my_section_name::before {
        width: 30px;
        /* display: flex; */
    }

    .my_section_name>p {
        margin-left: 70px;
    }

    .info::before {
        width: 63%;
    }

    .info::after {
        left: 70%;
        right: unset;
    }

    .images::before {
        width: 70%;
    }
}



@media screen and (min-width:2000px) {
    .hero::after {
        left: 40%;
    }

    .my_section_name::before {
        width: 30px;
    }

    .my_section_name>p {
        margin-left: 70px;
    }

    .info::before {
        width: 63%;
    }

    .info::after {
        left: unset;
        right: 15%;
    }

    .images::before {
        width: 70%;
    }
}



@media screen and (min-width:2700px) {

    .hero::after {
        left: 43%;
    }
    
    .info::after {
        left: unset;
        right: 25%;
    }
}

@media screen and (min-width:4000px) {
    
    .info::after {
        left: unset;
        right: 30%;
    }

    .hero::after {
        left: unset;
        right: 35%;
    }
}

@media screen and (min-width:5000px) {
    
    .info::after {
        left: unset;
        right: 35%;
    }
}


@media screen and (min-width:920px) {
    .bank_card_7{
        margin-bottom: 100px;
    }

    .bank_card_7_items{
        margin-top: 200px;
    }
}

@media screen and (min-width:990px) {
    .bank_card_7{
        margin-bottom: 120px;
    }
    
    .bank_card_7_items{
        margin-top: 240px;
    }
}

@media screen and (min-width:1024px) {
    .bank_card_7{
        margin-bottom: 300px;
    }

    .bank_card_7_items{
        margin-top: 100px;
    }

    .images__right_img1{
        z-index: 2;
        top: 80px;
        left: -30px;
        width: 644px;
    }

    .images__right_img2{
        z-index: 1;
        top: 0;
        left: -170px;
        width: 620px;
    }
}

@media screen and (min-width:1100px) {
    .bank_card_7{
        margin-bottom: 350px;
    }

    .bank_card_7_items{
        margin-top: 80px;
    }
}

@media screen and (min-width:1200px) {
    .bank_card_7{
        margin-bottom: 480px;
    }

    .bank_card_7_items{
        margin-top: 80px;
    }
}

@media screen and (min-width:1250px) {
    .images__right_img1{
        z-index: 2;
        top: 80px;
        left: -80px;
        width: 644px;
    }

    .images__right_img2{
        z-index: 1;
        top: 0;
        left: -200px;
        width: 620px;
    }
}

@media screen and (min-width:1440px) {
    .bank_card_7{
        margin-bottom: 350px;
    }
}

@media screen and (min-width:1500px) {
    .bank_card_7{
        margin-bottom: 400px;
    }
}

@media screen and (min-width:1650px) {
    .bank_card_7{
        margin-bottom: 500px;
    }
}

@media screen and (min-width:1700px) {
    .map_image{
        width: 980px!important;
    }
}



 @media screen and (min-width:2000px) {
    .map_image{
        top: -140px;
        left: -150px!important;
    }
}


@media screen and (min-width:500px) {
    .my_header_card{
        left: 10%;
    }
}

@media screen and (min-width:570px) {
    .my_header_card{
        left: 17%;
    }
}


@media screen and (min-width:760px) {
    .my_header_card{
        left: unset;
    }
}



/*
@media screen and (min-width:3000px) {
    .map_image{
        left: 30%;
    }
} */